 


        /*Valenberg from DeviantArt is the Source for the gif.*/



body {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
}

.pixelHead {
    height: 450px;
    background-image: url("../img/Valenberg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.colorHead {
    position: relative;
    top: 100px;
    background: rgba(22, 38, 64, .6);
    height: 250px;
}

.site {
    padding-top: 25px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.internship {
    display: inline-block;
    padding:  0.2em 0.5em;
    border: #FFF solid 10px;
}

.kicker {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.name {
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}



