/*body {
    background-image: url("../img/Valenberg.gif");
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    background-size: cover;
}

.container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
	background-color: rgba(180,219,255,0.6);
	text-align: center;
    color: #3B3D40;
    vertical-align: bottom;
}

.text {
    font-size: 6em;
}

.title {
    font-size: 3em;
}*/

h1 {
    color: #66bbdd;
    font-weight: 300;
}

.content {
    height: 2000px;
    padding: 100px;
    text-align: center;
}

    /*Valenberg from DeviantArt is the Source for the gif.*/