			/*Art by kirokaze from Deviantart */
body {
	background-color: #CCC2B4 !important;
	font-family: 'MedievalSharp', cursive !important;
	padding-left: 50px;
	padding-right: 50px;
	border: #FFF solid 25px;
}

.windowBox {
	text-align: center;
	margin: 50px 0 25px 0;
}

.window {
	display: inline-block;
	width: 100%;
	height: 400px;
	background-image: url("../img/mercs.gif");
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 50%;
}

.textInfo {
	text-align: center;
}

.titleText {
	display: inline-block;
	color: #5B332C;
	font-size: 50px;
	letter-spacing: 10px;
	padding: 50px;
	border: #5B332C double 25px;
}

		/*			start more circles*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 100px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	cursor: default;
}

.ch-info-wrap{
	position: absolute;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	perspective: 800px;
	transition: all 0.4s ease-in-out;
	top: 20px;
	left: 20px;
	background: #BFB1A0;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-info{
	position: absolute;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	transition: all 0.4s ease-in-out;
	transform-style: preserve-3d;
}

.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	backface-visibility: hidden;
}

.ch-info .ch-info-back {
	transform: rotate3d(0,1,0,180deg);
	background: #000;
}

.ch-img-1 { 
	background-image: url("../img/bar.gif");
	background-size: cover;
	background-repeat: no-repeat;
}

.ch-img-2 { 
	background-image: url("../img/duel.gif");
	background-size: cover;
	background-repeat: no-repeat;

}

.ch-img-3 { 
	background-image: url("../img/bard.gif");
	background-size: cover;
	background-repeat: no-repeat;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
	margin: 0 15px;
	padding: 40px 0 0 0;
	height: 90px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 25px;
	border-top: 1px solid rgba(255,241,228,0.5);
	text-transform: uppercase;
}

.ch-info p a {
	display: block;
	color: rgba(255,241,228,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: rgba(64,39,8, 0.8);
}

.ch-item:hover .ch-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.ch-item:hover .ch-info {
	transform: rotate3d(0,1,0,-180deg);
}

.ch-info-back {
	background-color: #BFB1A0 !important;
}

.moreCircles {
	margin-top: 100px;
	margin-bottom: 100px;
}
		/*			end more circles*/


.battleBox {
	text-align: center;
}

.battle {
	display: inline-block;
	width: 100%;
	height: 405px;
	background-image: url("../img/battle.gif");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 45%;
}

.goalBox {
	text-align: center;
	padding:50px;
}

.goals {
	display: inline-block;
	color: #394854;
	font-size: 50px;
	letter-spacing: 10px;
	padding: 50px;
	border: #394854 double 25px;
}


				/*start fast image thing*/



.hs-wrapper{
	width: 550px;
	height: 300px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	margin-bottom: 50px;
}
.hs-wrapper img{
	width: 100%;
	height: 100%
	background-size: contain;
	top: 0px;
	left: 0px;
	position: absolute;
	-webkit-animation: showMe 0.7s linear infinite 0s forwards;
	-moz-animation: showMe 0.7s linear infinite 0s forwards;
	-o-animation: showMe 0.7s linear infinite 0s forwards;
	-ms-animation: showMe 0.7s linear infinite 0s forwards;
	animation: showMe 0.7s linear infinite 0s forwards;
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;	
}
.hs-wrapper img:nth-child(1){
	z-index: 9;
}
.hs-wrapper img:nth-child(2){
    -webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	animation-delay: 0.1s;
	z-index: 8;
}
.hs-wrapper img:nth-child(3){
    -webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
	z-index: 7;
}
.hs-wrapper img:nth-child(4){
    -webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	animation-delay: 0.3s;
	z-index: 6;
}
.hs-wrapper img:nth-child(5){
    -webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
	z-index: 5;
}
.hs-wrapper img:nth-child(6){
    -webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	z-index: 4;
}
.hs-wrapper img:nth-child(7){
    -webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-nimation-delay: 0.6s;
	animation-delay: 0.6s;
	z-index: 3;
}

.hs-wrapper:hover img{
	-webkit-animation-play-state: running;
	-moz-animation-play-state: running;
	-o-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
}
.hs-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 500;
	background: rgba(0,0,0,0.6);
	box-shadow: 0 0 0 0 rgba(255,255,255,0.3) inset;
	pointer-events: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.hs-overlay span{
	display: block;
	padding: 20px;
	position: absolute;
	width: 293px;
	left: 150px;
	top: 25%;
	color: #fff;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	font-size: 38px;
	border-top: 1px solid rgba(255,255,255,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
	text-align: center;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.hs-wrapper:hover .hs-overlay{
	opacity: 1;
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3) inset;
}

@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-moz-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-o-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-ms-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; }
	12.5% { visibility: visible; z-index: 100; }
	25% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}





				/*end fast image thing*/